@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: Montserrat;
}

select:focus {
    outline: none;
}

select {
    border: none;
}

.mobile-navbar {
    display: none;
}

.navbar-nav {
    text-align: center;
}

.mobile-select {
    margin: auto;
}

/* ------------------------------------header----------------------------- */
.first-header {
    width: 100%;
    height: 47px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem 0px 1rem;
}

.first-header-left span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #ffff;
}

.first-header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.first-header-right span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #ffff;
}

.first-header-right .line {
    height: 20px;
    border-right: 0.5px solid white;
}

.first-header-right select {
    border: none;
    background-color: #252525;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #ffff;
}


.logo-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    /* background-color: red */
}

.logo-section .logosection-left {
    /* padding-top: 1rem; */
    width: 85%;
    /* background-color: rgb(147, 147, 147); */
}

.logo-section .logosection-right {
    width: 15%;
}

.logosection-left img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.logosection-right {
    display: flex;
    gap: 1.6rem;
}

.cart {
    position: relative;
    /* background-color: red; */
}

.cartCount {
    position: absolute;
    background-color: #C48F94;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 70%;
}

.cart img {
    width: 22px;
}

.desktop-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.desktop-navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: black;
}

.desktop-navbar select {
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: black;
}

.customize {
    color: #B76E79 !important;
}

@media(max-width:991px) {
    .logo-section {
        display: none;
    }

    .first-header {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .desktop-navbar {
        display: none;
    }

    .phone-logo {
        width: 180px;
    }
}

/* ------------------------------------header-end----------------------------- */

/* -------------------------------------banner-section---------------------------- */
.banner-wrapper {
    padding: 1rem .5rem 0rem .5rem;
}

.carousel {
    /* height: 500px; */
    overflow: hidden;
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.carousel-item {
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.carousel-content h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 56.07px;
    color: #ffff;
}

.carousel-content button {
    width: 140px;
    height: 35px;
    border-radius: 32.5px;
    background-color: white;
    color: #B76E79;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
}

@media(max-width:576px) {

    .carousel-content {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-content h1 {
        font-size: 18px;
        text-align: center;
        line-height: 26.07px;
    }

    .carousel-content button {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
}

/* -------------------------------------banner-section-end---------------------------- */
/* -----------------------------------populer-collection------------------------------- */
.populer-collection-wrapper {
    padding: 2rem .5rem 2rem .5rem;
}

.populer-collection-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
}

.trending-product-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: center;
}

.trending-prod-navigation {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.trending-prod-navigation span {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    cursor: pointer;
}

.active-prod {
    border: 1.5px solid #C18C92;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.trending-product-card-main {
    margin-top: 2rem;
}

.trending-product-card {
    width: 100%;
    height: 450px;
    background: #F8F8F8;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    padding-top: 2rem;
}

.trending-product-card img {
    width: 222px;
}

.prod-details-container {
    width: 260px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #0000001A;
    margin: auto;
    margin-top: -77px;
    padding: 20px;
    display: grid;
    align-items: center;
}

.prod-disription {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
}

.ratings i {
    color: #FFBE5C;
    font-size: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    margin-bottom: 0 !important;
}

@media(max-width:576px) {
    .trending-prod-navigation span {
        font-size: 12px;
    }

    .active-prod {
        border: 1.5px solid #C18C92;
        width: 120px;
        height: 30px;
    }

    .prod-card-wrapper {
        margin-top: 1.5rem;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .prod-card-wrapper {
        margin-top: 1.5rem;
    }
}

/* -----------------------------------populer-collection------------------------------- */
/* ------------------------------------service-section----------------------------- */
.services-wrapper {
    width: 100%;
    padding: 3rem .7rem 3rem .7rem;
    background-color: #F5F5F5;
}

.service-card-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.service-card {
    width: 245px;
    height: 115px;
    border-radius: 10px;
    background-color: #E9E9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.service-card-left img {
    width: 50px;
}


.service-card-right p {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    margin-bottom: 0 !important;
}

.service-card-right span {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.19px;
    color: #7E7E7E;
}

@media(max-width:576px) {
    .service-card {
        width: 90% !important;
        margin: auto;
        margin-bottom: 1rem;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .service-card {
        width: 70% !important;
        margin: auto;
        margin-bottom: 1rem;
        gap: 4.5rem;
    }
}

/* ------------------------------------service-section----------------------------- */
/* ------------------------------------custom-work-section-------------------------- */
.custom-work-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(./Images/Rectangle\ 154.svg);
    width: 100%;
    height: 530px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-work-section h1 {
    font-family: "Libre Caslon Text", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.custom-work-section button {
    width: 170px;
    height: 50px;
    background: #C18C92;
    color: white;
    border: 1px solid #C18C92;
}

@media(max-width:576px) {
    .custom-work-section {
        padding: 1.5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(./Images/Rectangle\ 154-mobile.png);
    }

    .custom-work-section h1 {
        font-size: 40px !important;

    }
}

/* ------------------------------------custom-work-section-end-------------------------- */
/* ------------------------------------explore-flowers-------------------------------- */
.explore-flower-container {
    width: 100%;
    height: 250px;
    padding: 2rem;
}

.explore-flower-container h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
}

.explore-flower-container h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: center;
}

.flowers-cards-main-wrapper {
    height: 77.5rem;
    background-color: #F5F5F5;
    padding: 1.5rem 5rem 1.5rem 5rem;

}

.flower-card {
    width: 100%;
    max-height: 315px;
    /* background-color: red; */
    margin-top: 3rem;
}

.flower-img {
    width: 100%;
    max-height: 260px;
    /* background-color: red; */
    overflow: hidden;
}

.flower-img img {
    width: 100%;
    /* height: 100%; */
}

.flower-card-title {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.57px;
    /* margin-bottom: 1rem; */
}

.flower-card-shopnow-btn {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;

    /* margin-bottom: 1rem; */

}

.flower-box-card {
    position: relative;
}

.size {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    font-size: 46px;
    font-weight: 700;
    line-height: 56.07px;
    text-align: center;
}

.occation-category-main {
    position: absolute;
    padding: 1.5rem;
    width: 240px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.726);
    top: 0;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    right: 0;
}

.occation-category-main a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.5px;
    color: white;
}

.left-card {
    margin-left: auto;
}

@media(max-width:800px) {
    .flowers-cards-main-wrapper {
        height: auto !important;
        padding: 1.5rem;
    }

    .flower-card {
        /* max-height: 215px; */
        margin-top: 0rem;
    }
    .flower-card-title {
        font-size: 20px;
    }
    
    .flower-card-shopnow-btn {
        font-size: 12px;
    }
    .occation-category-main {
        position: absolute;
        padding: .2rem;
        width: 240px;
        height: 260px;
        background-color: rgba(0, 0, 0, 0.726);
        top: 0;
        display: grid;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        right: 0;
    }
    .occation-category-main a {
        text-decoration: none;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: 300;
        line-height: 19.5px;
        color: white;
    }
}

/* ------------------------------------explore-flowers-end-------------------------------- */
/* ---------------------------------have-a-look-at-bloomsburylane-wrapper---------------------- */
.have-a-look-at-bloomsburylane-wrapper {
    margin-top: 13rem;
    width: 100%;
    height: 345px;
    background-image: url(./Images/newsletter-banner\ 1.svg);
    background-size: cover;
    position: relative;
}

.new-letter-img {
    float: right;
    margin-top: 9rem;
    margin-right: 20px;
}

.newsletter-content {
    width: 513px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
}

.newsletter-content h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 36.57px;
}

.newsletter-content h3 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.82px;
}

.newsletter-content span {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;

}

@media(max-width:576px) {
    .have-a-look-at-bloomsburylane-wrapper {
        margin-top: 0rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.608), rgba(0, 0, 0, 0.636)), url(./Images/newsltrphone.png);
    }

    .newsletter-content {
        width: 90%;
        text-align: center;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .newsletter-content h1 {
        color: white;
        font-size: 20px;
    }

    .newsletter-content h3 {
        font-size: 13px;
        color: white;
    }

    .newsletter-content span {
        font-size: 10px;
        color: white;
    }

    .have-a-look-at-bloomsburylane-wrapper img {
        display: none;
    }
}

@media(min-width:576px) and (max-width:991px) {
    .have-a-look-at-bloomsburylane-wrapper {
        margin-top: 0rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.608), rgba(0, 0, 0, 0.636)), url(./Images/newsltrphone.png);
    }

    .newsletter-content {
        width: 90%;
        text-align: center;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .newsletter-content h1 {
        color: white;
        font-size: 25px;
    }

    .newsletter-content h3 {
        font-size: 16px;
        color: white;
    }

    .newsletter-content span {
        font-size: 12px;
        color: white;
    }

    .have-a-look-at-bloomsburylane-wrapper img {
        display: none;
    }
}

/* ---------------------------------have-a-look-at-bloomsburylane-wrapper---------------------- */
/* -------------------------------------gifting-section--------------------------- */
.gifting-section {
    padding: 1rem 0rem 1rem 0rem;
}

.gifting-section .gift-card {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.gift-card img {
    width: 100%;
}

.gift-text {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translate(-50%, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: white;
}
@media(max-width:991px){
    .gifting-section .gift-card{
        background-color: red;
        margin-bottom: 1rem;
    }
}
/* -------------------------------------gifting-section--------------------------- */
/* ---------------------------------------footer------------------------------------ */
.footer-main {
    background: #252525;
    /* height: 390px; */
}

.footer {
    padding: 2.5rem;

}

.footer-left p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: white;
    margin-top: 1.5rem;
}

.contact-details {
    padding-left: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 1rem;
}

.contact-details span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #ffff;
}

.footer-center-left,
.footer-center-right {
    padding-top: 2rem;
    padding-left: 10rem;
}

.footer-center-left h3,
.footer-center-right h3,
.footer-right h3 {
    /* padding-top: 10px; */
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: white;
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-center-left a,
.footer-center-right a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: #ffff;
}

.footer-right {
    padding-top: 2rem;
    padding-left: 5rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons i {
    color: white;
    font-size: 20px;
    color: #252525;
}

.footer-right h3 {
    margin-bottom: 20px;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #C18C92;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    margin-top: 1.3rem;
    width: 220px;
    height: 30px;
    border-radius: 32.5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper input {
    padding-left: 10px;
    border: none;
    width: 50%;
    background-color: transparent;
    /* background-color: red; */
}

.input-wrapper input::placeholder {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 12.19px;
    color: #7E7E7E;
}

.input-wrapper button {
    width: 80px;
    height: 30px;
    border-radius: 32.5px;
    border: 1px solid #C18C92;
    background-color: #C18C92;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12.19px;
    text-align: center;
    color: white;


}

.caards {
    padding-top: 1.3rem;
}

.cpy-right {
    border-top: 1px solid #7E7E7E;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cpy-right span {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    color: #ffff;
}

@media(max-width:768px){
    .footer{
        text-align: center;
    }
   .footer-logo{
    width: 200px;
   }
    .footer-center-left,
.footer-center-right {
    padding-left: 0rem;
}
.footer-right {
    padding-left: 0rem;
}
.contact-details {
    padding-left: 0;
   justify-content: center;
}
.social-icons {
   justify-content: center;
}
.input-wrapper{
    margin: auto;
    margin-top: 20px;
}
.cpy-right span{
    text-align: center;
    font-size: 13px;
}
}
@media(min-width:768px) and (max-width:991px){
    .footer{
        text-align: center;
    }
   .footer-logo{
    width: 200px;
   }
    .footer-center-left,
.footer-center-right {
    padding-left: 0rem;
}
.footer-right {
    padding-left: 0rem;
}
.contact-details {
    padding-left: 0;
   justify-content: center;
}
.social-icons {
   justify-content: center;
}
.input-wrapper{
    margin: auto;
    margin-top: 20px;
}
.cpy-right span{
    text-align: center;
    font-size: 13px;
}
}
@media(max-width:768px){
    .footer{
        text-align: center;
    }
   .footer-logo{
    width: 200px;
   }
    .footer-center-left,
.footer-center-right {
    padding-left: 0rem;
}
.footer-right {
    padding-left: 0rem;
}
.contact-details {
    padding-left: 0;
   justify-content: center;
}
.social-icons {
   justify-content: center;
}
.input-wrapper{
    margin: auto;
    margin-top: 20px;
}
.cpy-right span{
    text-align: center;
    font-size: 13px;
}
}

/* ---------------------------------------footer------------------------------------ */