@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: Montserrat;
}

select:focus {
    outline: none;
}

.mobile-navbar {
    display: none;
}

/* ------------------------------------header----------------------------- */
.first-header {
    width: 100%;
    height: 47px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1rem 0px 1rem;
}

.first-header-left span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #ffff;
}

.first-header-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.first-header-right span {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #ffff;
}

.first-header-right .line {
    height: 20px;
    border-right: 0.5px solid white;
}

.first-header-right select {
    border: none;
    background-color: #252525;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    color: #ffff;
}


.logo-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    /* background-color: red */
}

.logo-section .logosection-left {
    /* padding-top: 1rem; */
    width: 85%;
    /* background-color: rgb(147, 147, 147); */
}

.logo-section .logosection-right {
    width: 15%;
}

.logosection-left img {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.logosection-right {
    display: flex;
    gap: 1.6rem;
}

.cart {
    position: relative;
    /* background-color: red; */
}

.cartCount {
    position: absolute;
    background-color: #C48F94;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 70%;
}

.cart img {
    width: 22px;
}

.desktop-navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.desktop-navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: black;
}

.desktop-navbar select {
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: black;
}

.customize {
    color: #B76E79 !important;
}

@media(max-width:991px) {
    .logo-section {
        display: none;
    }

    .first-header {
        display: none;
    }

    .mobile-navbar {
        display: block;
    }

    .desktop-navbar {
        display: none;
    }

    .phone-logo {
        width: 180px;
    }
}

/* ------------------------------------header-end----------------------------- */

/* -------------------------------------banner-section---------------------------- */
.banner-wrapper {
    padding: 1rem .5rem 0rem .5rem;
}

.carousel {
    /* height: 500px; */
    overflow: hidden;
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

.carousel-item {
    position: relative;
}

.carousel-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
}

.carousel-content h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 56.07px;
    color: #ffff;
}

.carousel-content button {
    width: 140px;
    height: 35px;
    border-radius: 32.5px;
    background-color: white;
    color: #B76E79;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.5px;
}

@media(max-width:576px) {

    .carousel-content {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .carousel-content h1 {
        font-size: 18px;
        text-align: center;
        line-height: 26.07px;
    }

    .carousel-content button {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 30px;
        font-size: 10px;
    }
}

/* -------------------------------------banner-section-end---------------------------- */
/* -----------------------------------populer-collection------------------------------- */
.populer-collection-wrapper {
    padding: 2rem .5rem 2rem .5rem;
}

.populer-collection-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
}

.trending-product-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 36.57px;
    text-align: center;
}

.trending-prod-navigation {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.trending-prod-navigation span {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    cursor: pointer;
}

.active-prod {
    border: 1.5px solid #C18C92;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.trending-product-card-main {
    margin-top: 2rem;
}

.trending-product-card {
    width: 100%;
    height: 450px;
    background: #F8F8F8;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    padding-top: 2rem;
}

.trending-product-card img {
    width: 222px;
}

.prod-details-container {
    width: 260px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #0000001A;
    margin: auto;
    margin-top: -77px;
    padding: 20px;
    display: grid;
    align-items: center;
}

.prod-disription {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
}

.ratings i {
    color: #FFBE5C;
    font-size: 10px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    margin-bottom: 0 !important;
}

@media(max-width:576px) {
    .trending-prod-navigation span {
        font-size: 12px;
    }

    .active-prod {
        border: 1.5px solid #C18C92;
        width: 120px;
        height: 30px;
    }

    .prod-card-wrapper {
        margin-top: 1.5rem;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .prod-card-wrapper {
        margin-top: 1.5rem;
    }
}

/* -----------------------------------populer-collection------------------------------- */
/* ------------------------------------service-section----------------------------- */
.services-wrapper {
    width: 100%;
    padding: 3rem .7rem 3rem .7rem;
    background-color: #F5F5F5;
}
.service-card-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.service-card {
    width: 245px;
    height: 115px;
    border-radius: 10px;
    background-color: #E9E9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.service-card-left img{
    width: 50px;
}


.service-card-right p{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    margin-bottom: 0 !important;
}
.service-card-right span{
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.19px;
    color: #7E7E7E;
}

@media(max-width:576px) {
    .service-card {
        width: 90% !important;
        margin: auto;
        margin-bottom: 1rem;
    }
}

@media(min-width:576px) and (max-width:768px) {
    .service-card {
        width: 70% !important;
        margin: auto;
        margin-bottom: 1rem;
        gap: 4.5rem;
    }
}

/* ------------------------------------service-section----------------------------- */
/* ------------------------------------custom-work-section-------------------------- */
.custom-work-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(./Images/Rectangle\ 154.svg);
    width: 100%;
    height: 530px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.custom-work-section h1{
    font-family: "Libre Caslon Text", serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}
.custom-work-section button{
    width: 170px;
    height: 50px;
    background: #C18C92;
    color: white;
    border: 1px solid #C18C92;
}

@media(max-width:576px) {
    .custom-work-section {
        padding: 1.5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)), url(./Images/Rectangle\ 154-mobile.png);
    }
    .custom-work-section h1{
        font-size: 40px !important;

    }
}

/* ------------------------------------custom-work-section-end-------------------------- */